# Ignore node_modules. Dependencies are installed via npm ci in Dockerfile.
node_modules

# Ignore local environment file. Secrets are handled by Fly secrets.
.env

# Ignore Dockerfile itself if needed (often good practice)
Dockerfile

# Ignore Git directory
.git
.gitignore

# Ignore debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log* 